@media(max-width:768px) {
    .destop {
        display: none;
    }

    .hp {
        display: block;
        overflow-x: hidden;
    }

    section,
    #profil,
    #layanan,
    #info-kesehatan {
        scroll-margin-top: 120px;
    }

    .container-hp {
        position: relative;
        padding-top: 0px;
        width: 100vw;
        min-height: 100vh;
        padding-bottom: 20px;
        padding-left: 0px;
        margin-left: 10px;
        top: 0px;
        grid-template-columns: 1.2fr 1fr;
        gap: 40px;
        align-items: center;
        overflow-x: hidden;
    }

    h1 {
        font-size: 40px;
        line-height: 1.2;
        margin-bottom: 20px;
    }

    h1 span {
        color: #9fd3b9;
    }

    p {
        font-size: 15px;
        color: #d5efe4;
        line-height: 1.6;
        margin-bottom: 32px;
        width: 80vw;
    }

    .buttons {
        display: flex;
        flex-direction: row !important;
        gap: 12px;
        width: 100%;
        margin-left: 20px;
    }

    .buttons button {
        flex: 1;
        padding: 14px 24px;
        border-radius: 30px;
        border: none;
        cursor: pointer;
        font-weight: 600px;
        width: 100px;
        margin-right: 52px;
    }

    .btn-primary {
        background: #97BFA4;
        color: #ffffff;
    }

    .btn-secondary a {
        border: 2px solid #9fd3b9;
        color: black;
    }

    .btn-primary,
    .btn-secondary a {
        border: none;
        text-decoration: none;
        cursor: pointer;
        transition: transform 0.15s ease;
    }

    .btn-primary:active,
    .btn-secondary:active {
        transform: scale(0.95);
        -webkit-transform: scale(0.95);
        -moz-transform: scale(0.95);
        -ms-transform: scale(0.95);
        -o-transform: scale(0.95);
    }

    .doctor-card {
        position: relative;
        padding: 40px;
    }

    .doctor-card img {
        width: 350px;
        border-radius: 20px;
        margin-left: 0px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }

    .testimonial {
        position: absolute;
        background: #ffffff;
        color: #1f2d2a;
        padding: 5px 15px;
        border-radius: 20px;
        width: 285px;
        height: 90px;
        line-height: 1.6;
        box-shadow: 0 16px 40px rgba(0, 0, 0, 0.18);
    }

    .testi-header {
        padding: 0px;
        margin: 0px;
        display: flex;
        align-items: center;
    }

    .testimonial p {
        width: 270px;
        margin-left: 0px;
        font-size: 9px;
        color: black;
        text-align: left;
    }


    .t1 {
        top: 0%;
        left: 0px;
    }

    .t2 {
        bottom: 10%;
        left: 0px;
    }

    .t3 {
        bottom: 10%;
        right: -40px;
    }

    .stats {
        display: flex;
        justify-content: space-around;
        background: linear-gradient(to bottom, #FAFFFA, #96BCA3);
        padding: 40px 20px;
        text-align: center;
    }

    .stat b {
        font-size: 15px;
        color: black;
    }

    .stat strong {
        text-align: center;
        font-size: 30px;
        display: block;
        color: #97BFA4;
        padding-left: 2px;
    }

    .stat span {
        font-size: 10px;
        text-align: center;
        width: 20px;
        color: black;
    }

    .services {
        padding: 80px 20px;
        text-align: center;
        background: linear-gradient(135deg, #398050, #153F35);
    }

    .services h2 {
        font-size: 38px;
        margin-bottom: 22px;
    }

    .service-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 14px;
    }

    .service-card {
        background: linear-gradient(to bottom, #509157, #96B9A1);
        border-radius: 16px;
        width: 102px;
        height: 148px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        box-sizing: border-box;
    }

    .service-wrapper {
        display: flex;
        justify-content: center;
    }

    .colum2 {
        padding-top: 32px;
        padding-left: 220px;
    }

    .service-card img {
        width: 46px;
        height: 46px;
    }

    .service-card p {
        margin: 0;
        font-size: 10px;
        color: #ffffff;
        text-align: center;
        font-weight: 600;
    }

    .service-card img {
        transition: transform 0.25s ease;
        -webkit-transition: transform 0.25s ease;
        -moz-transition: transform 0.25s ease;
        -ms-transition: transform 0.25s ease;
        -o-transition: transform 0.25s ease;
    }

    .service-card p {
        transition: transform 0.25s ease;
    }

    .service-card:hover img {
        transform: scale(1.1);
    }

    .service-card:hover p {
        transform: translateY(4px);
    }

    .gappp {
        height: 100px;
        background: linear-gradient(to top, #FAFFFA, #96BCA3);
    }

    .profile h2 {
        font-size: 34px;
        margin-bottom: 20px;
    }

    .info-section {
        padding: 20px;
    }

    .info-grid {
        grid-template-columns: 1fr !important;
        gap: 50px;
    }

    .info-badge h2 {
        font-size: 20px;
    }

    .info-badge,
    .info-card {
        width: 100%;
        height: auto;
    }

    .info-card p {
        width: 100%;
        font-size: 14px;
    }

    .step {
        position: relative;
        transform: none;
        top: 0;
        left: 0;
        margin-bottom: 4px;
        align-items: center;
        margin-left: 150px;
    }

    .info-item {
        position: relative;
    }

    .info-item .step {
        position: absolute;
        top: -12px;
        left: 16px;
        width: 32px;
        height: 32px;
        font-size: 16px;
        background: #fff;
        color: #0f3d34;
        border: 2px solid #8fb8a2;
    }

    .cta {
        position: relative;
        height: 80vh;
        background: linear-gradient(135deg, #255C4F, #042021);
        display: grid;
        grid-template-columns: 1.1fr 1fr;
        align-items: center;
        padding: 0px;
        padding-left: 20px;
        padding-top: 240px;
        gap: 10px;
    }

    .text-cta {
        color: #ffffff;
    }

    .text-1 {
        display: flex;
        gap: 18px;
        align-items: center;
        font-style: italic;
        font-size: 12px;
        margin-bottom: 18px;
    }

    .text-1 .item {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        gap: 6px;
    }

    .check {
        width: 15px;
        height: 15px;
        background: #ffffff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .check svg {
        width: 14px;
        height: 14px;
        fill: #0d5c4d;
    }

    .text-2 {
        font-size: 28px;
        width: 90vw;
        line-height: 1.15;
        margin-bottom: 18px;
    }

    .text-3 {
        margin-top: 1px;
        font-size: 12px;
        line-height: 1.7;
        max-width: 600px;
        opacity: 0.9;
    }

    .cta-btn {
        margin-top: 22px;
        padding: 14px 30px;
        border-radius: 999px;
        border: none;
        background: #97BFA4;
        color: #fff;
        font-weight: 600;
        cursor: pointer;
        width: fit-content;
    }

    .cta-btn a {
        text-decoration: none;
        color: #fff;
    }

    .image {
        display: flex;
        justify-content: left;
        align-items: flex-start;
        position: absolute;
        top: 0px;
    }

    .image img {
        width: 50%;
        height: 50%;
        border-bottom-right-radius: 20px;
    }

    .step-cards {
        position: absolute;
        right: 80px;
        top: 20%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        gap: 45px;
    }

    .step-card {
        background: rgba(255, 255, 255, 0.85);
        backdrop-filter: blur(6px);
        padding: 10px;
        border-radius: 16px;
        width: 152px;
        height: 177;
        box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
        font-size: 9px;
        font-weight: 600;
        color: #0e3f34;
        line-height: 1.4;
        text-align: center;
    }

    .footer-container {
        grid-template-columns: 1fr;
    }

    .footer-col img {
        margin: 0 auto;
    }

    .hubungi-follow {
        grid-template-columns: 1fr;
        gap: 20px;
        text-align: start;
    }

    .footer-col ul, .footer-col p {
        padding-left: 20px;
    }

    .info-section {
        padding: 18px 10px;
        align-items: center;
    }

    .info-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        width: 100%;
        right: 920px;
        margin: 0px;
    }

    .info-item {
        position: relative;
    }

    .info-badge {
        background: #a8cbb5;
        border-radius: 18px;
        padding: 10px 28px;
        text-align: center;
        margin-left: 20px;
        color: #fff;
        margin-bottom: 24px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, .15);
        width: 350px;
        height: 69px;
    }

    .info-badge h2 {
        margin: 0;
        font-size: 16px;
        text-align: center;
        padding-top: 10px;
    }

    .info-badge span {
        display: block;
        font-size: 14px;
        opacity: 1.9;
        margin-top: 4px;
    }

    .info-card {
        background: rgba(255, 255, 255, .25);
        backdrop-filter: blur(8px);
        margin-left: 20px;
        border-radius: 22px;
        padding: 32px 28px;
        color: #ffffff;
        line-height: 1.6;
        width: 350px;
        height: 461px;
        box-shadow: 0 20px 40px rgba(0, 0, 0, .25);
        -webkit-border-radius: 22px;
        -moz-border-radius: 22px;
        -ms-border-radius: 22px;
        -o-border-radius: 22px;
    }

    .info-card h3 {
        margin-top: 0;
        margin-bottom: 15px;
        font-size: 17px;
        text-align: center;
    }

    .info-card p {
        margin: 0;
        font-size: 15px;
        text-align: center;
        width: 300px;
    }

    .profile-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
        gap: 1px;
        max-width: 100vw;

    }

    .profile-card {
        background: #5f8f7a;
        color: #fff;
        padding: 24px;
        border-radius: 20px;
        position: relative
    }

    .profile-card .step {
        position: absolute;
        top: -14px;
        left: 20px;
        background: #fff;
        color: #0f3d34;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700
    }

    .why-header {
        height: 150vh;
    }

    .why-header-left {
        background: #1B453A;
        width: 100vw;
        align-items: start;
    }

    .why-header-right {
        position: relative;
        top: 850px;
        left: -220px;
        background: #94BCA2;
        width: 457px;
        align-items: center;
    }

    .why-header h2 {
        margin: 0;
        font-size: 22px;
        font-weight: 700;
    }

    .why-header-left h2 span {
        color: #697572;
    }

    .why-header-left h2 {
        color: #ffffff;
        padding-right: 8px;
        text-align: center;
        padding-top: 50px;
    }

    .why-card-left {
        align-items: start;
        position: relative;
        height: 687px;
        background-color: #E0F2E2;
        margin-top: 40px;
        margin-left: 30px;
        margin-bottom: 30px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        width: 357px;
    }

    .why-card-right {
        right: 0px;
        left: 40px;
        margin-top: 40px;
        margin-bottom: 30px;
        background: #94BCA2;
        border: 0px solid #E0F2E2;
    }

    .why-card-clide {
        background: #1B453A;
        height: 550px;
        margin-top: 25px;
        position: relative;
        right: 0px;
        margin-bottom: 30px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        width: 357px;
    }

    .why-card-clide h2 {
        color: #CFF6DD;
        text-align: center;
        font-size: 19px;
    }

    .card-clide {
        margin-left: 40px;
        margin-top: 40px;
    }

    .card-atas {
        width: 188.14px;
        height: 123.81px;
        background-color: #FFFFFF;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
    }

    .card-bawah {
        width: 188.14px;
        height: 207.97px;
        background-color: #E0F2E2;
    }

    .card-bawah h4, .card-bawah p {
        color: #000;
        padding: 10px;
        width: 188.14px;
    }

    .card-bawah h4 {
        font-size: 16px;
    }

    .card-bawah p {
        font-size: 10px;
    }

    .btn {
        color: #000;
        background-color: #97BFA4;
        height: 30px;
        width: 160px;
        border: white;
        border-radius: 20px;
    }

    .card-bawah-tombol {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        position: relative;
        top: -30px;
    }

    .wrapper-left {
        padding: 30px;
        /* max-width: 900px; */
    }

    .item-left {
        display: flex;
        gap: 5px;
        margin-bottom: 28px;
    }

    .left {
        position: relative;
        width: 54px;
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: #000000;
    }

    .left h2 {
        font-size: 32px;
        margin-bottom: 40px;
        padding-bottom: 0px;
        color: #000000;
    }

    .content-left h3 {
        margin: 0;
        font-size: 19px;
        color: #000000;
        width: 300px;
    }

    .content-left p {
        font-size: 10px;
        margin-top: 6px;
        color: #000000;
        line-height: 1.5;
        width: 250px;
    }

    .navbar-hp {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 14px 16px;
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    .logo-hp img {
        height: 108px;
    }

    .menu-btn-hp {
        font-size: 28px;
        background: none;
        border: none;
        cursor: pointer;
        color: #fff;
    }

    .mobile-menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 75%;
        height: 100vh;
        background: white;
        box-shadow: -5px 0 20px rgba(0, 0, 0, .15);
        padding: 20px;
        transition: .3s ease;
        z-index: 2000;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .mobile-menu a {
        text-decoration: none;
        color: #333;
        font-size: 16px;
        padding: 10px 0;
        border-bottom: 1px solid #eee;
    }

    .menu-header {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
    }

    .menu-overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, .3);
        display: none;
        z-index: 1500;
    }

    .mobile-menu.active {
        right: 0;
    }

    .menu-overlay.active {
        display: block;
    }
}

@media (min-width: 768px) {

    .navbar-hp,
    .mobile-menu,
    .menu-overlay {
        display: none;
    }
}